# Exclude backup and build files
backup/
build/
log.txt
*.back
*.log
*.tmp
node_modules/
docComplementaires/
jsdoc/
doc/src/
tests/
serveur/ipConfig75.json
serveur/ipConfig127.json
serveur/ipConfigBH.json
client/archive/
*.ps1
*.sh
*.sln
*.vcxproj
*.filters
*.gypi
*.md
*.json
*.xml
*.html
*.css
*.js.html
*.mjs.html
*.js.back
*.mjs.back
