backup/
build/
log.txt
*.back
*.log
*.tmp
node_modules/
docComplementaires/
jsdoc/
tests/
pieces/
*.ps1
*.sh
*.sln
*.vcxproj
*.filters
*.gypi
*.md
*.json
*.xml
*.html
*.css
*.js.html
*.mjs.html
*.js.back
*.mjs.back

# blocklySkini/ doit être inclus dans le package
